<div class="updating">
  <div class="updating__label">UPDATING <span class="updating__version">- VERSION 1.0.0</span>
  </div>
  <div class="updating__progress">
    <div class="updating__progress-bar"></div>
    <div class="updating__start-pause-button"></div>
  </div>
  <div class="updating__details u-flexbox-row">
    <div class="updating__detail updating__phase u-m-r-1">PHASE: <span>DOWNLOADING MANIFEST</span></div>
    <div class="updating__detail updating__download-speed u-m-r-1">SPEED: <span>10MB/s</span></div>
    <div class="updating__detail updating__download-remaining u-m-r-1">LEFT: <span>16.3GB</span></div>
    <div class="updating__detail updating__download-files-remaining u-m-r-1">FILES: <span>12300</span></div>
  </div>
</div>
