@font-face {
  font-family: 'Teko';
  src: url('../assets/fonts/teko/Teko-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Barlow';
  src: url('../assets/fonts/barlow/Barlow-Regular.ttf') format('truetype')
}
