:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  // &__main { }
  &__header {
    -webkit-app-region: drag;
    width: 100%;
    height: 30px;
    position: absolute;
  }
}
