<div class="login u-flexbox-column u-vhcenter">
  <div class="u-flexbox-column">
    <h1 class="login__title u-m-b-05">Account Sign-in</h1>
    <p class="login__subtitle u-m-b-05">Please sign-in using your account credentials</p>
    <input type="text" pInputText class="u-m-b-05 login__input" placeholder="USERNAME"/>
    <input type="password" pInputText class="u-m-b-05 login__input" placeholder="PASSWORD"/>
    <button pButton label="SIGN IN" class="p-button-outlined p-button-rounded u-align-self-right"></button>
  </div>
</div>
