.login {
  &__title {
    font-family: 'Teko', Arial, sans-serif;
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 0.9rem;
    color: rgba(255,255,255,0.75);
    color:#64b5f6;
  }

  &__input {
    min-width: 300px;
  }
}
